.input-container {
  flex-direction: column;
  /* width: 66%; */
  align-items: flex-start;
  margin-bottom: 18px;
}

.input {
  border-radius: 12%;
  width: 99px;
}

.link {
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column; 
}

Link {
  text-decoration: none;
}

.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* align-items: center;
  justify-content: center; */
  /* border: rgb(252, 71, 71) 3px solid; */
  margin: 18px 36px 0px 36px;
  border-radius: 12%;
  padding: 0px 0px 0px 0px;
}

.already {
  color: white;
  text-decoration: none;
  font-size: x-large;
}

.submit-button {
  padding: 18px;
  background-color: rgb(248, 75, 44);
  border-radius: 12%;
  border: none;
  text-transform: uppercase;
  color: white;
  width: 99px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.sign-up {
  margin-right: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
}

input.input {
  margin: 9px;
  padding: 9px;
  width: 222px;
  background-color: black;
  color: white;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid white;
}

.sign-in-title {
  margin: 0;
}