.nav  {
  display: flex;
  margin-right: auto;
  padding: 27px;
  position: fixed;
}

.links{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 9px;
}

#bar {
  position: static;

}

a {
  text-decoration: none;
}

.icon {
  
  
}

.nav-link {
  color: white;
  background-color: black;
  border: none;
}