
.Onboard-img {
    height: 400px;
    width: 300px;
}
.Onboard-img-end{
    width: 300px;
    height: 400px;
}
.Onboard-logo {
    margin-bottom: 100px;
    margin-top: 100px;
}
.instructions,
.instructions-1,
.instructions-2,
.instructions-end {
    font-family: Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 2px;
}
.instructions-1 {
    margin-top: 50px;
}
.instructions-2 {
    margin-bottom: 25px;
}
.instructions-title,
.instructions-header {
    font-family: Arial, sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
}
.instructions-header {
    color: #C3B997;
    line-height: 3px;
}
.instructions-title1 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.circle,
.fill-circle {
    border-radius: 100%;
    border: 2px solid white;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.fill-circle {
    background-color: white;
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.circles {
    display: flex;
    flex-direction: row;
}
.instructions-end {
    margin-bottom: 50px;
}
.start-link {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #E6010B;
    border-radius: 10px;
    color: #FFF;
    font-size: 14px;
}
.bottom-link {
    letter-spacing: 3px;
    color: #FFF;
}
.Onboard-logo {
    text-shadow: 1px 1px 2px #1D1E20; 
    opacity: 0.0;
    animation: fadeIn ease 45s;
    -webkit-animation: fadeIn ease 45s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}